<div class="about">
  <center>
    <h3>Contact app</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque et aperiam officiis beatae cupiditate eum, assumenda id adipisci quasi distinctio quos voluptas maiores soluta tenetur, magnam nisi dolorem earum suscipit.</p>
  </center>
</div>
